* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.clear {
    clear: both;
}

.tabul {
    width: 300px;
    margin: 50px auto;
    /* overflow: hidden; */
}

.tabul li {
    float: left;
    margin-left: 30px;
    cursor: pointer;
    border: 1px solid #fff;
    padding: 5px 10px;
    background-color: blue;
}

.contents {
    margin: 20px auto;
}

.on1,
.on2,
.on3 {
    width: 300px;
    height: 300px;
    margin: 0px auto;
    /* padding: 0 15px; */
    font-size: 15px;
    color: #fff;
    background-color: #000;
}

.div2 {
    background-color: #0da14b;
}

.div3 {
    background-color: #f00;
}
